SUPABASE_URL=your_supabase_project_url
SUPABASE_ANON_KEY=your_supabase_anon_key
PORT=3000
JWT_SECRET=
ACCESS_TOKEN_EXPIRY_MINUTES=15
REFRESH_TOKEN_EXPIRY_DAYS=7
UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=
ABUSEIPDB_API_KEY=
VIRUSTOTAL_API_KEY=
OTX_API_KEY=
URLHAUS_API_URL=
SHODAN_API_KEY=
